@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
  --font-display: "Fraunces", serif;
  --font-body: "Inter", sans-serif;

  --color-brand-yellow: #fde047;
  --color-brand-cream: #fdfbf7;
  --color-brand-beige: #f5f2ea;
  --color-brand-dark: #1f2937;
  --color-brand-text-muted: #4b5563;
}

@layer utilities {
  .link-underline {
    background-image: linear-gradient(
      var(--color-brand-yellow),
      var(--color-brand-yellow)
    );

    background-size: 0% 40%;
    background-position: 0% 85%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
  }

  .group:hover .link-underline {
    background-size: 100% 40%;
  }
}
