@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
  --font-display: "Fraunces", serif;
  --font-body: "Inter", sans-serif;

  --color-brand-yellow: #fde047;
  --color-brand-cream: #fdfbf7;
  --color-brand-beige: #f5f2ea;
  --color-brand-dark: #1f2937;
  --color-brand-text-muted: #4b5563;
  --color-brand-accent: #d97706;
}

@layer utilities {
  .link-underline {
    background-image: linear-gradient(
      var(--color-brand-yellow),
      var(--color-brand-yellow)
    );

    background-size: 0% 40%;
    background-position: 0% 85%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
  }

  .group:hover .link-underline {
    background-size: 100% 40%;
  }
}

@layer components {
  .btn {
    @apply bg-brand-dark rounded-3xl px-4 py-2 text-sm font-medium text-white transition-all hover:opacity-90;
  }

  .nav {
    @apply snap-center rounded-lg px-4 py-2 transition-colors hover:bg-white/30;
  }

  .card-grid {
    @apply grid w-full grid-cols-1 gap-6 sm:grid-cols-2;
  }

  .card-article-styling {
    @apply border-brand-beige hover:border-brand-yellow/50 relative flex cursor-pointer flex-col overflow-hidden rounded-2xl border bg-white shadow-sm transition-all duration-300 ease-out hover:-translate-y-2 hover:shadow-xl;
  }

  .card-published {
    @apply text-brand-dark/40 text-xs font-bold tracking-tighter uppercase;
  }

  .card-img {
    @apply h-full w-full object-cover transition-transform duration-700 ease-in-out group-hover:scale-105;
  }

  .card-badge {
    @apply bg-brand-yellow text-brand-dark absolute top-3 left-3 rounded px-2 py-1 text-[10px] font-black tracking-widest uppercase shadow-sm;
  }

  .card-header {
    @apply font-display text-brand-dark text-2xl leading-tight font-bold;
  }

  .card-text {
    @apply text-brand-dark/70 line-clamp-2 text-sm leading-relaxed;
  }

  .card-read-more {
    @apply text-brand-dark group-hover:text-brand-accent mt-2 flex items-center gap-2 text-sm font-bold transition-colors;
  }

  .card-svg {
    @apply size-4 transition-transform group-hover:translate-x-1;
  }

  .sidebar-card {
    @apply border-brand-beige group-hover:border-brand-yellow flex gap-3 rounded-xl border bg-white p-3 shadow-sm transition-colors;
  }

  .sidebar-img {
    @apply h-20 w-20 rounded-lg object-cover;
  }

  .sidebar-published {
    @apply text-brand-dark/40 text-[10px] font-bold uppercase;
  }

  .sidebar-header {
    @apply font-display line-clamp-2 text-sm font-bold transition-colors;
  }
}
